@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap');

:root{
    --primary-color: #0ea5e9;
    --dark-gray: #9ca3af;
    --off-white: #f3f4f6;
    --purple: #581c87;
    --light-green: #86efac;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: white;
}
.link-primary:hover{
    background-color: var(--purple);
}

.link-center {
    display: block;
    text-align: center;
    max-width: 6rem;
    margin: auto;
}

.link-project-center{
    text-align: center;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}
.link-secondary:hover{
    background-color: var(--light-green);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

.showcase-block {
    padding: 1rem 2rem 3rem;
    border-radius: 2.5rem;
    text-align: center;
    margin: 3rem auto;
    max-width: 750px;
}

.showcase-blog {
    padding-bottom: 6rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    margin: 0rem 7rem;
}

.navigation .link {
    color: white;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

.header-inverted {
    color: var(--primary-color);
}

section {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

.section h1 {
    text-align: center;
}

.section h2 {
    padding: 0rem 1rem;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 2rem;
    margin: 0rem 7rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
  
    .list-item-inline {
      display: inline;
      padding: 0rem;
    }
  
    .container-center {
      width: auto;
    }
  
    .link-primary {
      display: block;
    }
  }